# Node
node_modules/
.pnp
.pnp.js
coverage/
.next/
out/
build/
dist/

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
.DS_Store

# Android
frontend/android/.gradle/
frontend/android/app/build/
frontend/android/capacitor-cordova-android-plugins/build/

# Do NOT ignore release binaries since user wants them released/tracked for now (or via LFS)
# release/
